<%= form_tag('/test') do %>
<table style="width:400px">
<% @user.each do |item| %>

	<tr>
	  <td><%= item.kgs_names %>
	  </td>
         <td> <%= select_tag :foo, options_for_select([["Alpha", 1], ["Beta I", 2], ["Beta II", 3], ["Gamma I", 4], ["Gamma II", 5], ["Gamma III", 6], ["Gamma IV", 7], ["Delta", 8]]), :class => "divisions" %></td>
	</tr>

<% end %>

</table>

<%= submit_tag("Submit") %>
<% end %>	