<table style="width:400px">
	<tr>
		<th><%= sortable "kgs_names" %></th>
		<th><%= sortable "division" %></th>
	</tr>
<% @user.each do |item| %>

	<tr>
	  <td><%= item.kgs_names %></td>
	  <td><%= item.division %></td>
	</tr>

<% end %>

</table>