<%= form_for @division, :remote => true, :html => {:id => "division_form"} do |f| %>
  <div class="field">
    <%= f.text_area :division_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<span class="ajax_message">&nbsp;</span>
<% end %>