<p>Divisions</p>

<div id="divisions">
	<% @divisions.each do |division| %>
		<% @division = division %>
		<%= render 'division' %>
	<% end %>
</div>

<div>
  <%= render 'form' %>
</div>

<!-- <script type="text/javascript">
$('#division_form').submit(function() {
             $(this).unbind('submit').submit();
});
</script> -->
