<h2>Division Management</h2>

<table>
	<tr>
		<th>Divisions</th>
		<th>Settings</th>
	</tr>
	
		<% @divisions.each do |division| %>
		<tr>
			<% @division = division %>
			<%= render 'division' %>

		</tr>
		<% end %>
	
</table>


<div>
  <%= render 'form' %>
</div>

<!-- <script type="text/javascript">
$('#division_form').submit(function() {
             $(this).unbind('submit').submit();
});
</script> -->
