<%= provide(:title, "Division Management") %>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Divisions</th>
		<th>Settings</th>
	</tr>
	</thead>
	<tbody>
		<% @divisions.each do |division| %>
		<tr>
			<% @division = division %>
			<%= render 'division' %>

		</tr>
		<% end %>
	</tbody>
</table>


<div>
  <%= render 'form' %>
</div>

<!-- <script type="text/javascript">
$('#division_form').submit(function() {
             $(this).unbind('submit').submit();
});
</script> -->
