<h2>Division Management</h2>

<table>
	<tr>
		<th>Divisions</th>
		<th>Settings</th>
	</tr>
	
		<% @divisions.each do |division| %>
		<tr>
			<% @division = division %>
			<% if !Bracket.find_by_division_id(division.id).nil? %>
				<%= render 'division' %>
			<% else %>
				<p>No brackets have been created yet.</p>
			<% end %>
		</tr>
		<% end %>
	
</table>


<div>
  <%= render 'form' %>
</div>

<!-- <script type="text/javascript">
$('#division_form').submit(function() {
             $(this).unbind('submit').submit();
});
</script> -->
