<%= provide(:title, 'Home') %>
<%= provide(:css_class, "Home") %>

<p>Sample layout for user pages</p>

<div class="gravatar span-4 border">Gravatar</div>
<div class="trophies span-12 border">
	<span class="trophy span-4">Trophy 1</span>
	<span class="trophy span-4">Trophy 2</span>
	<span class="trophy span-4 last">Trophy 3</span>
	
</div>
<div class="points span-4 border">Points</div>
<div class="calendar span-4 last">Calendar</div>

<div class="span-10">
<table class="mail">
	<tr>
		<th>Subject</th>
		<th>Sender</th>
		<th>Date Received</th>
		<th>Delete?</th>
	</tr>
	<tr>
		<td>Our G4m3!!!</td>
		<td>N00b</td>
		<td>Apr 9</td>
		<td></td>
	</tr>
	<tr>
		<td>Thank you for signing...</td>
		<td>GoTeacher</td>
		<td>Apr 8</td>
		<td></td>
	</tr>
</table>

<div class="span-5">
<table class="leaderboard">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Rank</th>
		<th>Points</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Superdan</td>
		<td>7d</td>
		<td>15830</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Almostdan</td>
		<td>7d</td>
		<td>14372</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Bigboss</td>
		<td>6d</td>
		<td>12003</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Goman</td>
		<td>6d</td>
		<td>11000</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Sheep</td>
		<td>5d</td>
		<td>10234</td>
	</tr>
	<tr>
		<td>6</td>
		<td>Whoda</td>
		<td>5d</td>
		<td>9433</td>
	</tr>
	<tr>
		<td>7</td>
		<td>Zing</td>
		<td>4d</td>
		<td>7300</td>
	</tr>
	<tr>
		<td>8</td>
		<td>Logique</td>
		<td>3d</td>
		<td>6540</td>
	</tr>
	<tr>
		<td>233</td>
		<td>Me</td>
		<td>4k</td>
		<td>1450</td>
	</tr>
</table>
</div> <!-- End span-5 column -->
<div class="span-5 last">
<div class="news">
	<span class="dateline">Apr 13</span>
	<span class="newsItem">New interclub match!<br />Signup now, here.</span>
	
	<span class="newsSeparator">***</span>
	
	<span class="dateline">Apr 11</span>
	<span class="newsItem">Welcome to the new site layout! <br />We're really excited to show you all our new features. Feel free to look around...</span>
</div>
</div> <!-- End span-5 right column -->

</div><!-- End left column -->

<div class="span-14 last">
<table class="global">
	<tr>
		<th>Event Name</th>
		<th>Creator</th>
		<th>Date</th>
		<th>Time</th>
		<th>Location</th>
		<th>Attending?</th>
	</tr>
	<tr>
		<td>KGS Tournament</td>
		<td>ASR Admins</td>
		<td>Apr 20</td>
		<td>12:00 GMT</td>
		<td>KGS</td>
		<td></td>
	</tr>
	<tr>
		<td>Free Lecture on Joseki</td>
		<td>GoTeacher</td>
		<td>Apr 15</td>
		<td>12:30 GMT</td>
		<td>ASR</td>
		<td></td>
	</tr>
	<tr>
		<td>Interclub Match</td>
		<td>Admin1</td>
		<td>Apr 13</td>
		<td>12:00 GMT</td>
		<td>ASR</td>
		<td></td>
	</tr>
	<tr>
		<td>Dojo Class on Fuseki</td>
		<td>GoTeacher2</td>
		<td>Apr 10</td>
		<td>14:00 GMT</td>
		<td>ASR</td>
		<td></td>
	</tr>
</table>

<table class="myEvents">
	<tr>
		<th>Event Name</th>
		<th>Creator</th>
		<th>Date</th>
		<th>Time</th>
		<th>Location</th>
	</tr>
	<tr>
		<td>KGS Tournament</td>
		<td>ASR Admins</td>
		<td>APR 20</td>
		<td>12:00 GMT</td>
		<td>KGS</td>
	</tr>
	<tr>
		<td>Free Lecture on Joseki</td>
		<td>GoTeacher</td>
		<td>Apr 15</td>
		<td>12:30 GMT</td>
		<td>ASR</td>
	</tr>
	<tr>
		<td>ASR Match vs. N00b</td>
		<td>N00b</td>
		<td>Apr 12</td>
		<td>18:00 GMT</td>
		<td>ASR</td>
	</tr>
</table>

<table class="myClass">
	<tr>
		<th>Name</th>
		<th>KGS</th>
		<th>Score</th>
		<th>vs 1</th>
		<th>vs 2</th>
		<th>vs 3</th>
		<th>vs 4</th>
		<th>vs 5</th>
		<th>vs 6</th>
		<th>W/L</th>
	</tr>
	<tr>
		<td>Username</td>
		<td>? ?</td>
		<td>12</td>
		<td>X</td>
		<td>*</td>
		<td>*</td>
		<td>*</td>
		<td>o</td>
		<td>o</td>
		<td>4/0</td>
	</tr>
	<tr>
		<td>Bob</td>
		<td>? ?</td>
		<td>10</td>
		<td>v</td>
		<td>X</td>
		<td>*</td>
		<td>*</td>
		<td>*</td>
		<td>o</td>
		<td>3/1</td>
	</tr>
	<tr>
		<td>Dick</td>
		<td>? ?</td>
		<td>3</td>
		<td>v</td>
		<td>v</td>
		<td>X</td>
		<td>*</td>
		<td>o</td>
		<td>o</td>
		<td>1/3</td>
	</tr>
	<tr>
		<td>Jane</td>
		<td>? ?</td>
		<td>1</td>
		<td>o</td>
		<td>o</td>
		<td>o</td>
		<td>X</td>
		<td>o</td>
		<td>o</td>
		<td>0/1</td>
	</tr>
	<tr>
		<td>Henry</td>
		<td>? ?</td>
		<td>0</td>
		<td>o</td>
		<td>o</td>
		<td>o</td>
		<td>o</td>
		<td>X</td>
		<td>o</td>
		<td>0/0</td>
	</tr>
	<tr>
		<td>Alan</td>
		<td>? ?</td>
		<td>0</td>
		<td>o</td>
		<td>o</td>
		<td>o</td>
		<td>o</td>
		<td>o</td>
		<td>X</td>
		<td>0/0</td>
	</tr>
</table>
</div><!-- End right column -->

