<p>[<a href="/ASR/?page_id=115">Introduction</a>] [<a href="/ASR/?page_id=402">Quickstart &amp; Tips</a>] [<a href="/ASR/?page_id=88">Rules</a>] [<a href="/ASR/?page_id=32">Results</a>] [<a href="/ASR/?page_id=317">Results archive</a>] [<a href="/ASR/?page_id=41">FAQ</a>]</p> 
<hr /> 
<h1>Welcome to the ASR League &#8211; Introduction</h1> 
<p>If you have been linked to this page from somewhere else, then welcome to the <strong>ASR League</strong> homepage!</p> 
<p>This league is a unique attempt to fill a valuable niche in the amateur Go playing community. We have tried to create a highly competitive system, accessible to all levels of ability, yet with something to offer and motivate each player to enjoy their time competing in the league. How is this possible?</p> 
<h2>Core tenets of the league</h2> 
<p><em>Teaching and Learning:</em> With a spread of ability in the majority of the classes, that there will always be stronger players to play that can be learned from, and weaker players that can be taught. At the end of each game, it is hoped that the stronger player will take the time to review the game for the weaker player. If the players are of even strength, much can be learned by reviewing the game together.</p> 
<p><em>Interactivity and involvement:</em> We encourage anything that involves any of the players more in the league. Ask for stronger players to look at your game, join other games and offer reviews if you have the time, and be friendly to those in the league. Also, the points system strongly rewards activity &#8211; you get half as many points for losing as you do for winning, so you can easily achieve a good class position with a poor record just by playing a lot of games &#8211; the reason for this? We want people to improve as quickly as possible, and the motivation to play more games helps to achieve this.</p> 
<h2>Things to remember</h2> 
<ul> 
<li>Always tag &#8220;ASR League&#8221; (without quotes) in the chat in the first 30 moves of a league game.</li> 
<li>If you forget to tag the game, get hold of an <a href="http://www.advancedstudyroom.com/ASR/?page_id=1037">admin</a> as soon as you can.</li> 
<li>Be friendly, helpful, and always offer to review in games where you are the stronger player.</li> 
<li>Don&#8217;t forget to <a href="http://www.lifein19x19.com/forum/viewforum.php?f=53">give feedback</a> on what you like and don&#8217;t like. We want ASR to be as good as possible for all.</li> 
<li>Spread the word. The more happy leaguers we have, the better the system works for everyone.</li> 
</ul> 
<p>The league is currently run by a team of <a href="http://www.advancedstudyroom.com/ASR/?page_id=1037">admins</a>. If you have any questions, comments, feedback and ideas, please post them for discussion on the <a href="http://www.lifein19x19.com/forum/viewforum.php?f=53">league forum</a> (kindly hosted by Life in 19&#215;19) &#8211; Likewise, if you want to join, PM us on KGS and we&#8217;ll add you into the next available class.</p> 
<p>&nbsp;</p> 
<hr /> 
<p>[<a href="/ASR/?page_id=115">Introduction</a>] [<a href="/ASR/?page_id=402">Quickstart &amp; Tips</a>] [<a href="/ASR/?page_id=88">Rules</a>] [<a href="/ASR/?page_id=32">Results</a>] [<a href="/ASR/?page_id=317">Results archive</a>] [<a href="/ASR/?page_id=41">FAQ</a>]</p>