<% scrape %>
			<h1>November</h1> 
<h2>Alpha:</h2> 
<p>1st place: Tgame with Yilun Yang 7p, donated by Garen.<br /> 
2nd place: 3 month subscription to KGS+, donated by Remina.<br /> 
3rd place: 3 audio go lectures,  donated by snip.<br /> 
4th to 6th place: If you have more then 25+ points you get 1 audio go lecture, ,  donated by snip.</p> 
<h2>Beta:</h2> 
<p>1st place: Teaching game by  Tabemasu, Shinichi56(1d-)<br /> 
(If you are too strong for a teaching game with a donater you can exchange it for 1 audio go lecture,  donated by snip.)<br /> 
2nd place: 1 audio go lecture,  donated by snip.</p> 
<h2>Gamma:</h2> 
<p>1st place:Tgame by: compgo74(1d-), andrew(1k-), plusguy(1k-), eddy(2k-)<br /> 
(If you are too strong for a teaching game with a donater you can exchange it for 1 audio go lecture,  donated by snip.)<br /> 
</p> 
<p>Teaching game from Teach (see his info on KGS)<br /> 
</p> 
<h2>Delta:</h2> 
<p>1st place: Tgame with bartimeus<br /> 
(If you are too strong for a teaching game with a donater you can exchange it for 1 audio go lecture,  donated by snip.)<br /> 
</p> 
<h2></h2> 
<h2>ALL Classes (Alpha to Gamma):</h2> 
<ul> 
<li>Most active player (minimum 20 games)</li> 
<li>Most active Kyu player (minimum 20 games)</li> 
<li>Kyu player with the best result (minimum 15 games)</li> 
<li>Kyu player with the worst result (minimum 15 games)</li> 
</ul> 
<p>The winners of these prizes receive 3 audiogolessons at <a href="http://www.internetgoschool.com/">www.internetgoschool.com</a> !</p> 
<p>These prizes have the following rules:</p> 
<ul> 
<li>You can’t win more then 1 prize per month</li> 
<li>Kyu prizes can only be won if you played ALL league games with a SOLID rank.</li> 
</ul> 
<h1></h1> 
<h1></h1> 
<h1>October</h1> 
<h2>Alpha:</h2> 
<h4>1st place:</h4> 
<p>A choice of either a Tgame with Yilun Yang 7p, donated by Viperlason<br /> 
or a 3 month subscription to KGS+, donated by Remina</p> 
<h2>Beta:</h2> 
<p>1st place: Remaining Alpha prize and a tgame from Tabemasu 7d.</p> 
<p>To decide who wins the prize that remains from Alpha, the Beta I and Beta II winners will play a final match to decide who wins it. The loser gets the other prize for beta.</p> 
<h2>Gamma</h2> 
<p>1st place: 3 audiogolessons, donated by snip</p> 
<h2>Delta:</h2> 
<p>Teaching games from Teach (see his info on KGS)</p> 
<h2></h2> 
<h2>ALL Classes:</h2> 
<ul> 
<li>Most active player (minimum 20 games)</li> 
<li>Most active Kyu player (minimum 20 games)</li> 
<li>Kyu player with the best result (minimum 15 games)</li> 
<li>Kyu player with the worst result (minimum 15 games)</li> 
</ul> 
<p>The winners of these prizes receive 3 audiogolessons at <a href="http://www.internetgoschool.com">www.internetgoschool.com</a> !</p> 
<ul> 
<li>The 4 highest scoring Kyu players in the league will receive a chance to play in a simul game vs Senteftw</li> 
</ul>
<p>These prizes have the following rules:</p> 
<ul> 
<li>You can&#8217;t win more then 1 prize per month</li> 
<li>Kyu prizes can only be won if you played ALL league games with a SOLID rank.</li> 
</ul> 
<h1></h1> 
<h1><em>Prizes Archive</em></h1> 
<h1>September</h1> 
<h2>Alpha:</h2> 
<h4>1st place:</h4> 
<p>A choice of either a Tgame with Yilun Yang 7p, donated by Viperlason<br /> 
or a 3 month subscription to KGS+, donated by Remina</p> 
<h4>2nd place:</h4> 
<p>A place in the simul teaching game with Dexmorgan and all bonuses included for the 20 dollar donation for <a href="http://kaya.gs">kaya.gs</a></p> 
<h2>Beta:</h2> 
<p>Remaining Alpha prize and a tgame from tabemasu.</p> 
<p>To decide who wins the prize that remains from Alpha, the 2 Beta winners will play a final match to decide who wins it. The loser gets the other prize for beta.</p> 
<h2>Gamma and Delta:<br /> 
</h2> 
<p>reserve:</p> 
<p>Players with the best win % receive 5 audiogolessons. 2nd places receive 3 audiogolessons.<br /> 
Prizes will be given to both layers each. That means 4 people will be rewarded in total.<br /> 
the minimum amount of games for this prize is 15.<br /> 
This prize was donated by LonelyJoy.</p> 
<h2>ALL Classes:</h2> 
<ul> 
<li>Most active player (minimum 20 games)</li> 
<li>Most active Kyu player (minimum 20 games)</li> 
<li>Kyu player with the best result (minimum 15 games)</li> 
<li>Kyu player with the worst result (minimum 15 games)</li> 
</ul> 
<p>The winners of these prizes receive 3 audiogolessons at <a href="http://www.internetgoschool.com">www.internetgoschool.com</a> !</p> 
<ul> 
<li>consolation prize: 2x teaching game from Magicuser for players 7-30k who lost the most games. (minimum 15 games)</li> 
</ul> 
<p>These prizes have the following rules:</p> 
<ul> 
<li>You can&#8217;t win more then 1 prize per month</li> 
<li>Kyu prizes can only be won if you played ALL league games with a SOLID rank.</li> 
</ul> 
<h1>August</h1> 
<p>Alpha:<br /> 
1st place: 3 month subscription to KGS+, donated by Remina<br /> 
Beta:<br /> 
1st place: Tgame remina, Tabemasu<br /> 
Gamma:<br /> 
 1st place: tgame kittie99, adoreme, fairgo1, sevrusblck(5k-)<br /> 
Delta:<br /> 
Teaching games from Teach (see his info on KGS</p> 
<p>Reserve:<br /> 
faceless1(5k-)</p> 
<p>ALL Classes:</p> 
<ul> 
<li>Most active player (minimum 20 games)</li> 
<li>Most active Kyu player (minimum 20 games)</li> 
<li>Kyu player with the best result (minimum 15 games)</li> 
<li>Kyu player with the worst result (minimum 15 games)</li> 
</ul> 
<p>The winners of these prizes receive 3 audiogolessons at <a href="http://www.internetgoschool.com">www.internetgoschool.com</a> !</p> 
<ul> 
<li>consolation prize: 2x teaching game from Magicuser for players 7-30k who lost the most games. (minimum 15 games)</li> 
</ul> 
<p>These prizes have the following rules:</p> 
<ul> 
<li>You can&#8217;t win more than 1 prize per month</li> 
<li>Kyu prizes can only be won if you played ALL league games with a SOLID rank.</li> 
</ul>
<h2><br /> 
Also many thanks to every member giving teaching games.</h2> 
		</div>
