
<h2>Alpha</h2>
<table class="results">
	<tr>
		<th class="first_col"></th>
<% @alpha.each do |player| %>
		<th><span><span><span><%= player.kgs_names %></span></span></span></th>
<% end %>
	</tr>
<% @alpha.each do |row| %>
	<tr>
		<td class="first_col"><%= row.kgs_names %></td>
		<% @alpha.each do |column| %>
		
		<% wins = (Match.where("black_player_name=? AND white_player_name=? AND result_boolean=? AND valid_game=?", column.kgs_names, row.kgs_names, false, true).order(:created_at).length) + (Match.where("black_player_name=? AND white_player_name=? AND result_boolean=? AND valid_game=?", row.kgs_names, column.kgs_names, true, true).order(:created_at).length) %>
		<% losses = (Match.where("black_player_name=? AND white_player_name=? AND result_boolean=? AND valid_game=?", column.kgs_names, row.kgs_names, true, true).order(:created_at).length) + (Match.where("black_player_name=? AND white_player_name=? AND result_boolean=? AND valid_game=?", row.kgs_names, column.kgs_names, false, true).order(:created_at).length) %>
		
			<% if column.kgs_names == row.kgs_names %>
				<td>X</td>
			<% else %>
			<% puts "#{column.kgs_names}'s wins: #{wins}" %>
			<% puts "#{column.kgs_names}'s losses: #{losses}" %>
				<td><%= "W" * wins + "L" * losses %></td>
				
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>

