body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.hero-unit { padding: 15px; }
.hero-unit h1 { font-size: 2em; }
div.select { float: left; }
select.kgs_names { height: 400px; width: 80px; font-size: 12px; }
select.division { clear: both; display: block; }
input.submit { clear: both; }

.notice { clear: both; }
.self td { font-weight: bold; }
table.results { margin-top: 55px; width: 900px }
table.results th { font-weight: normal; padding-top: 0px; }
table.results th.first_col { width: 75px; }
table.results th > span {
      position: relative;
    }
table.results 	th > span > span {
	  /* Must remove span from normal flow in order to keep columns from widening */
	  position: absolute;
	  left: -5px;
	  white-space: nowrap;
    -moz-transform: rotate(-70deg) skewX(20deg);
    -o-transform: rotate(-70deg) skewX(20deg);
    -webkit-transform: rotate(-70deg) skewX(20deg);
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
	  border: 1px solid;
	  padding: 9px;
	  height: 23px;
	  width: 60px;
	  /* Illustrate where it's at with color */
	  background-color: #E5ECF9;
	  /* If one wants centered text, this is the place to reset it */
	  /* From a design point of view it might not be desirable */
	  text-align: center;
	}
	/* CSS filter for Safari */
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
	  th > span > span {
	    top: 0;
	  }
	}
table.results th > span > span > span {
	  /* Rotate the text back, so it will be easier to read */
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
	}
/* table.results tr:first-child td { padding-top: 0px; } */
table.results td.first_col { font-weight: bold; }
table.results td { border-right: 1px solid black; text-align: center; width: 40px; }
table.results td.advance.odd { background-color: #27EA0E; }
table.results td.advance.even { background-color: #B1F7A8; }
table.results td.demote.odd { background-color: #FCB737; }
table.results td.demote.even { background-color: #F9D390; }
table p { margin-bottom: 0px; }

.success {
    background: none repeat scroll 0 0 #DFF0D8;
    border-color: #D6E9C6;
    clear: both;
    color: #468847;
    margin: 0 auto;
    text-align: center;
}
hr {
	margin-top: 15px;
}
