body {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background-color: #E6E6E6;
	padding-bottom: 20px;
}

header {
  padding-top: 20px;
}

.container {
	
	border: 1px solid silver;
	-webkit-border-radius: 10px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
     -moz-border-radius: 10px; /* FF1-3.6 */
          border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	padding: 15px;
	margin-top: 15px;
	background-color: white;
}
header nav { float: right; }
nav ul { 
	list-style-type: none;
	display: inline-block;
}
nav ul li { float: left; margin-right: 15px; }
div.select { float: left; }
select.kgs_names { height: 400px; width: 80px; font-size: 12px; }
select.division { clear: both; display: block; }
input.submit { clear: both; }

.notice { clear: both; }
.self td { font-weight: bold; }
table.results { margin-top: 55px; width: 900px }
table.results th { font-weight: normal; padding-top: 0px; }
table.results th.first_col { width: 75px; }
table.results th > span {
      position: relative;
    }
table.results 	th > span > span {
	  /* Must remove span from normal flow in order to keep columns from widening */
	  position: absolute;
	  left: -5px;
	  white-space: nowrap;
    -moz-transform: rotate(-70deg) skewX(20deg);
    -o-transform: rotate(-70deg) skewX(20deg);
    -webkit-transform: rotate(-70deg) skewX(20deg);
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
	  border: 1px solid;
	  padding: 9px;
	  height: 23px;
	  width: 100px;
	  /* Illustrate where it's at with color */
	  background-color: #E5ECF9;
	  /* If one wants centered text, this is the place to reset it */
	  /* From a design point of view it might not be desirable */
	  text-align: center;
	}
	/* CSS filter for Safari */
	@media screen and (-webkit-min-device-pixel-ratio: 0){
	  th > span > span {
	    top: 0;
	  }
	}
table.results th > span > span > span {
	  /* Rotate the text back, so it will be easier to read */
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
	}
/*table.results tr:first-child td { padding-top: 0px; }
*/table.results td.first_col { font-weight: bold; }
table.results td { border-right: 1px solid black; text-align: center; }